<div class="footer-container">
  <div class="footer-container-top">

    <div class="footer-content-top">

      <div class="content-left">
        <div class="brand">
          <div class="footer-logo">
            <%= link_to root_path do %>
              <%= image_tag('Logo/Logo-white@2x.png', class: 'logo-image') %>
            <% end %>
          </div>
          <div class="text-content">
            <h2>NETWORK</h2>
            <div class="social-network">
              <a href="https://www.facebook.com/yodacity"><i class="fab fa-facebook-square"></i></a>
              <a href="https://www.instagram.com/yodacity"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <ul class="list product">
          <li>PRODUCT</li>
          <li><%= link_to bike_path do %>Bike<% end %></li>
          <li><%= link_to app_path do %>App<% end %></li>
          <li><%= link_to support_path do %>Support<% end %></li>
          <li><%= link_to reviews_path do %>Reviews<% end %></li>
          <li><%= link_to page_warranty_path do %>Warranty<% end %></li>
        </ul>
        <ul class="list infos">
          <li>INFOS</li>
          <li>FAQ</li>
          <li>Press</li>
          <li>Contact</li>
          <li>Delivery</li>
          <li>Returns</li>
        </ul>
        <div class="newsletter">
          <div class="newsletter-content">
            <p>SIGN UP TO OUR NEWSLETTER</p>
            <%= form_for @user, url: users_create_path, class: "footer-form", method: :post do |f| %>
              <%= f.text_field :email, :placeholder => "Type in your email" %>
              <submit type="submit"><i class="fas fa-arrow-right"></i></submit>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container-bottom">
    <div class="footer-content-bottom">
      <div class="legal-menu-footer">
        <a href="#">TERMS OF USE</a>
        <a href="#">PRIVACY POLICY</a>
        <p>© 2019 YODACITY</p>
      </div>
    </div>
  </div>
</div>

