<div class="footer-container">

  <div class="footer-container-top">
    <div class="footer-content-top">
      <div class="brand">
        <div class="footer-logo">
          <%= link_to root_path do %>
            <%= image_tag('Logo/Logo-white@2x.png', class: 'logo-image') %>
          <% end %>
        </div>
        <div class="social-network">
          <p>Follow Us</p>
          <div class="icon">
            <%= link_to "https://www.facebook.com/yodacity/?modal=admin_todo_tour" do%><i class="fab fa-facebook-square"></i><% end %>
            <%= link_to "https://www.instagram.com/yodacity" do%><i class="fab fa-instagram"></i><% end %>
            <%= link_to "https://www.linkedin.com/company/yodacity" do%><i class="fab fa-linkedin"></i><% end %>
          </div>
        </div>
      </div>
      <ul class="list">
        <li>Yoda Bike</li>
        <li><%= link_to rent_a_yoda_path do %>Rent a Yoda<% end %></li>
        <li><%= link_to "#order" do %>Buy a Yoda<% end %></li>
        <li><a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/yodacity-test-ride/30min'});return false;">Test a Yoda</a></li>
        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
        <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
      </ul>
      <ul class="list">
        <li>Company</li>
        <li><%= link_to contact_path do %>Contact Us<% end %></li>
        <li><%= link_to faq_path do %>FAQ<% end %></li>
        <li><%= link_to root_path do %>News<% end %></li>
      </ul>
      <div class="newsletter">
        <div class="newsletter-content">
          <%= render "shared/campaign_ongoing_footer" %>
        </div>
        <div class="infos-contact">
          <p>Chaussée de Waterloo 834<br>1180, Brussels, Belgium</p>
          <p>+32/472.22.22.05</p>
          <p>contact@yoda-city.com</p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-container-bottom">
    <div class="footer-content-bottom">
      <div class="legal-menu-footer">
        <%= link_to terms_of_use_path do %>Terms of use<% end %>
        <%= link_to privacy_policy_path do %>Privacy policy<% end %>
        <p>© 2019 YodaCity</p>
      </div>
    </div>
  </div>
</div>

