<div class="footer-mobile-container">
  <div class="footer-top-container">
    <%= link_to root_path do %>
      <%= image_tag('Logo/Logo-white@2x.png', class: 'logo-image') %>
    <% end %>
    <div class="list-menu">
      <ul class="list">
        <li>Yoda Bike</li>
        <li><%= link_to rent_a_yoda_path do %>Rent a Yoda<% end %></li>
        <li><%= link_to buy_a_yoda_path do %>Buy a Yoda<% end %></li>
        <li><%= link_to root_path do %>Test a Yoda<% end %></li>
      </ul>
      <ul class="list">
        <li>Company</li>
        <li><%= link_to contact_path do %>Contact Us<% end %></li>
        <li><%= link_to faq_path do %>FAQ<% end %></li>
        <li><%= link_to root_path do %>News<% end %></li>
      </ul>
    </div>
    <div class="newsletter-container">
      <div class="newsletter-content-mobile">
        <p>SIGN UP TO OUR NEWSLETTER</p>
        <%= form_for @user, url: users_create_path, class: "footer-form", method: :post do |f| %>
          <%= f.text_field :email, :placeholder => "Type in your email" %>
          <submit type="submit"><i class="fas fa-arrow-right"></i></submit>
        <% end %>
      </div>
    </div>
    <div class="social-links">
      <div class="social">
        <a href="https://www.facebook.com/yodacity"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.instagram.com/yodacity"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom-container">
    <div class="legal-menu-footer">
      <%= link_to terms_of_use_path do %>TERMS OF USE<% end %>
      <%= link_to privacy_policy_path do %>PRIVACY POLICY<% end %>
      <p>© 2019 YODACITY</p>
    </div>
  </div>
</div>
