<div class="footer-container">
  <div class="footer-container-top">

    <div class="footer-content-top">

      <div class="content-left">
        <div class="brand">
          <div class="footer-logo">
            <%= link_to root_path do %>
              <%= image_tag('Logo/Logo-white@2x.png', class: 'logo-image') %>
            <% end %>
          </div>
        </div>
        div.
        <div class="newsletter">
          <div class="newsletter-content">
            <p>SIGN UP TO OUR NEWSLETTER</p>
            <%= form_for @user, url: users_create_path, class: "footer-form", method: :post do |f| %>
              <%= f.text_field :email, :placeholder => "Type in your email" %>
              <submit type="submit"><i class="fas fa-arrow-right"></i></submit>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container-bottom">
    <div class="footer-content-bottom">
      <div class="legal-menu-footer">
        <%= link_to terms_of_use_path do %>Terms of use<% end %>
        <%= link_to privacy_policy_path do %>Privacy policy<% end %>
        <p>© 2019 YodaCity</p>
      </div>
    </div>
  </div>
</div>

