<nav class="nav-container">
  <div class="nav-content">
    <div class="nav-logo">
      <%= link_to root_path do %>
        <%= image_tag('Logo/Logo@2x.png', class: "logo-nav") %>
      <% end %>
    </div>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <div class="btn-container">
      <%= link_to rent_a_yoda_path do%><div class="nav-btn rent">Rent a Yoda</div><% end %>
      <%= link_to buy_a_yoda_path do%><div class="nav-btn buy">Buy a Yoda</div><% end %>
    </div>
  </div>
</nav>
