<nav class="nav-mobile-container">
  <div class="nav-mobile-content">
    <div class="nav-mobile-logo-black">
      <%= link_to root_path do %>
        <%= image_tag('Logo/Logo@2x.png', class: "logo-nav") %>
      <% end %>
    </div>
    <div class="nav-mobile-logo-white">
      <%= link_to root_path do %>
        <%= image_tag('Logo/Logo-white@2x.png', class: "logo-nav") %>
      <% end %>
    </div>
  </div>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</nav>

<div class="nav-footer-container">
  <div class="btn-mobile-content">
    <% if @rent_navbar %>
      <%= link_to "#km-order" do %>
        <div class="nav-mobile-btn rent">
          <p>Get free km</p>
        </div>
      <% end %>
      <%= link_to root_path do %>
        <div class="nav-mobile-btn buy">
          <p>Buy a Yoda</p>
        </div>
      <% end %>
    <% elsif @refer_friend_navbar %>
      <%= link_to "#km-order" do %>
        <div class="nav-mobile-btn rent">
          <p>50% on km</p>
        </div>
      <% end %>
    <%= link_to root_path do %>
        <div class="nav-mobile-btn buy">
          <p>Pre-order</p>
        </div>
      <% end %>
    <% else %>
      <%= link_to rent_a_yoda_path do %>
        <div class="nav-mobile-btn rent">
          <p>Rent a Yoda</p>
        </div>
      <% end %>
      <%= link_to "#order" do %>
        <div class="nav-mobile-btn buy">
          <p>Pre-order</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
