<nav class="nav-mobile-container">
  <div class="nav-mobile-content">
    <div class="nav-mobile-logo">
      <%= link_to root_path do %>
        <%= image_tag('Logo/Logo@2x.png', class: "logo-nav") %>
      <% end %>
    </div>
  </div>
</nav>

<div class="nav-footer-container">
  <div class="btn-mobile-content">
    <% if @rent_navbar %>
      <%= link_to "https://yodacity.myshopify.com/cart/31543099195491:1?channel=buy_button" do %>
        <div class="nav-mobile-btn rent">
          <p>Get free km</p>
        </div>
      <% end %>
      <%= link_to buy_a_yoda_path do %>
        <div class="nav-mobile-btn buy">
          <p>Buy a Yoda</p>
        </div>
      <% end %>
    <% elsif @buy_navbar %>
      <%= link_to rent_a_yoda_path do %>
        <div class="nav-mobile-btn rent">
          <p>Free floating</p>
        </div>
      <% end %>
      <%= link_to "#order" do %>
        <div class="nav-mobile-btn buy">
          <p>Reserve yours</p>
        </div>
      <% end %>
    <% else %>
      <%= link_to rent_a_yoda_path do %>
        <div class="nav-mobile-btn rent">
          <p>Rent a Yoda</p>
        </div>
      <% end %>
      <%= link_to buy_a_yoda_path do %>
        <div class="nav-mobile-btn buy">
          <p>Buy a Yoda</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
