<nav class="nav-container">
  <div class="nav-content">
    <div class="nav-logo">
      <%= link_to root_path do %>
        <%= image_tag('Logo/Logo@2x.png', class: "logo-nav") %>
      <% end %>
    </div>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div class="btn-container">
      <div class="btn-content">
        <%= link_to test_ride_path do %>
          <div class="nav-btn test-ride">
            <p>TEST RIDE</p>
          </div>
        <% end %>
        <%= link_to cart_path do %>
          <div class="nav-btn buy">
            <p><span>PRE-ORDER</span></p>
          </div>
        <% end %>
      </div>
  </div>
</nav>
