<nav class="nav-white-container">
  <div class="nav-white-content">
    <div class="nav-logo">
      <%= link_to root_path do %>
        <%= image_tag('Logo/Logo-white@2x.png', class: "logo-nav") %>
      <% end %>
    </div>
    <div class="menu-container">
      <div class="menu-content">
        <ul id="navigation-text-white">
          <a href="<%= bike_path %>">BIKE</a>
          <a href="<%= app_path %>">APP</a>
          <a href="<%= support_path %>">SUPPORT</a>
          <a href="<%= reviews_path %>">REVIEWS</a>
        </ul>
      </div>
    </div>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div class="btn-container">
      <div class="btn-content">
        <%= link_to test_ride_path do %>
          <div class="nav-btn test-ride-white">
            <p>TEST RIDE</p>
          </div>
        <% end %>
        <%= link_to newsletter_buy_path do %>
          <div class="nav-btn buy">
            <p><span>PRE-ORDER</span></p>
          </div>
        <% end %>
      </div>
  </div>
</nav>
