<%= render "shared/navbar-mobile" %>

<div class="main-mobile-app-container">
  <div class="page-mobile-app-container white-bg">
    <div class="text-content">
      <h1>Be in <span>control</span>.</h1>
      <p>Live dashboard, navigation, GPS<br>tracking, ride stats, battery level and more.</p>
    </div>
    <%= image_tag('App/download-app-btn@2x.png', class: "app-btn-download") %>
    <div class="phone">
      <%= image_tag('App/Iphone_X_home-page-mobile@2x.png', class: "home-page-app") %>
    </div>
  </div>

  <div class="page-mobile-app-container black-bg">
    <div class="text-content page-margin">
      <p class="title">APP-BASED START/STOP</p>
      <h1>Your phone,<br><span>your key</span>.</h1>
      <p>You are the only one who can activate the bike.</p>
    </div>
    <div class="info-bullets-container">
      <div class="info-bullet">
        <%= image_tag('App/Bluetooth-circle@2x.png', class: "circle-info") %>
        <p class="info">Pair your Yoda with Bluetooth</p>
      </div>
      <div class="info-bullet">
        <%= image_tag('App/Lock-circle@2x.png', class: "circle-info") %>
        <p class="info">Lock / Unlock the bike</p>
      </div>
    </div>
    <div class="phone-page">
      <%= image_tag('App/Iphone_X_Bluetooth-pairing-mobile@2x.png', class: "bluetoot-paring-mobile") %>
    </div>
  </div>

  <div class="page-mobile-app-container black-bg">
    <div class="text-content page-margin">
      <p class="title">LIVE DASHBOARD</p>
      <h1><span>Monitor</span><br>your Yoda.</h1>
      <p>Speed, duration, distance. A live dashboard<br>keeps you informed.</p>
    </div>
    <div class="info-bullets-container">
      <div class="info-bullet">
        <%= image_tag('App/Battery@2x.png', class: "circle-info") %>
        <p class="info">Battery level</p>
      </div>
      <div class="info-bullet">
        <%= image_tag('App/Speed@2x.png', class: "circle-info") %>
        <p class="info">Speed, duration, distance</p>
      </div>
      <div class="info-bullet">
        <%= image_tag('App/Eco-mode@2x.png', class: "circle-info") %>
        <p class="info">Economic Mode</p>
      </div>
    </div>
    <div class="phone-page">
      <%= image_tag('App/Iphone_X_Dashboard-mobile@2x.png', class: "bluetoot-paring-mobile") %>
    </div>
  </div>

  <div class="page-mobile-app-container black-bg">
    <div class="text-content page-margin">
      <p class="title">NAVIGATION</p>
      <h1><span>Never</span> get lost.</h1>
      <p>A visual, turn-by-turn<br>navigation service guides your ride.</p>
    </div>
    <div class="info-bullets-container">
      <div class="info-bullet">
        <%= image_tag('App/Locations@2x.png', class: "circle-info") %>
        <p class="info">Search locations</p>
      </div>
      <div class="info-bullet">
        <%= image_tag('App/Gps@2x.png', class: "circle-info") %>
        <p class="info">Get directions</p>
      </div>
    </div>
    <div class="phone-page">
      <%= image_tag('App/Iphone_X_gps-mobile@2x.png', class: "bluetoot-paring-mobile") %>
    </div>
  </div>

  <div class="page-mobile-app-container white-bg">
    <div class="text-content page-margin">
      <p class="title">ANTI-THEFT SYSTEM</p>
      <h1><span>Peace</span><br>of mind.</h1>
      <p>Be alerted if your Yoda gets touched.</p>
    </div>
    <div class="info-bullets-container">
      <div class="info-bullet border-light-grey">
        <%= image_tag('App/Search@2x.png', class: "circle-info") %>
        <p class="info">Find bike</p>
      </div>
      <div class="info-bullet">
        <%= image_tag('App/stolen@2x.png', class: "circle-info") %>
        <p class="info">Declare the bike stolen</p>
      </div>
    </div>
    <div class="phone-page">
      <%= image_tag('App/Iphone_X_track-yoda-mobile@2x.png', class: "bluetoot-paring-mobile") %>
    </div>
  </div>

  <div class="page-mobile-app-container white-bg">
    <div class="text-content page-margin">
      <p class="title">RIDE STATS</p>
      <h1>Stay<span><br>on top</span>.</h1>
      <p>Starting point, destination, speed,<br>distance, and more. Keep track of all<br>your rides.</p>
    </div>
    <div class="info-bullets-container">
      <div class="info-bullet border-light-grey">
        <%= image_tag('App/Flag@2x.png', class: "circle-info") %>
        <p class="info">Route history</p>
      </div>
      <div class="info-bullet">
        <%= image_tag('App/Bar-chart@2x.png', class: "circle-info") %>
        <p class="info">Monitor and analize statistics</p>
      </div>
    </div>
    <div class="phone-page">
      <%= image_tag('App/Iphone_X_stat-infos-mobile@2x.png', class: "bluetoot-paring-mobile") %>
    </div>
  </div>

  <div class="page-mobile-app-container white-bg">
    <div class="text-content page-margin">
      <p class="title">NOTIFICATION</p>
      <h1>We got<br>your <span>back</span>.</h1>
      <p>Our remote diagnostics system sends you notifications about your bike. For example, you’ll be alerted when your brake pads or your tires need to be replaced.</p>
    </div>
    <%= link_to root_path do %>
      <p class="link-green">Learn more about our service support</p>
      <i class="fas fa-chevron-right"></i>
    <% end %>
    <div class="phone-page">
      <%= image_tag('App/Iphone_X_notifications-mobile@2x.png', class: "bluetoot-paring-mobile") %>
    </div>
  </div>

  <%= render "shared/footer-mobile" %>
  <div class="footer-mobile-height"></div>
</div>







<script>
  $(document).ready(function() {
      $(window).scroll(function() {
          var height = $('.page-1-mobile-content').height();
          var scrollTop = $(window).scrollTop();

          if (scrollTop >= height - height*0.96) {
            $('.nav-mobile-container').addClass('solid-mobile-nav');
            $('.nav-mobile-container').removeClass('solid-mobile-black-nav');
          } else {
            $('.nav-mobile-container').removeClass('solid-mobile-nav');
            $('.nav-mobile-container').removeClass('solid-mobile-black-nav');
          }
      });
  });
</script>
