<%= render "shared/navbar-mobile-black" %>

<div class="main-mobile-bike-container">
  <div class="page-mobile-bike-container black-bg">
    <div class="text-content">
      <h1>Simplicity is a<br><span>lifestyle</span>.</h1>
      <p>It's like riding a bike, you never forget.</p>
    </div>
    <%= image_tag('Yoda/Mobile/Main-bike-image@2x.png', class: "yoda-main-bike") %>
  </div>

  <div class="page-mobile-bike-container white-bg">
    <div class="text-content page-margin">
      <p class="title">THIN AND LIGHT</p>
      <h2>Navigate the<br><span>urban</span> jungle.</h2>
      <p>Forget about traffic jams, wake up<br>later and ride safe.</p>
    </div>
    <%= image_tag('Yoda/Mobile/Front-back-view-mobile@2x.png', class: "yoda-main-bike") %>
  </div>

  <div class="page-mobile-bike-container white-bg">
    <div class="text-content page-margin">
      <p class="title">POWERFUL AND CARRIABLE</p>
      <h2>A removable<br><span>battery</span>.</h2>
      <p>Charge your battery anywhere.</p>
    </div>
    <%= image_tag('Yoda/Mobile/Removable-battery-mobile@2x.png', class: "yoda-main-bike") %>
  </div>

  <div class="page-mobile-bike-container black-bg">
    <div class="text-content page-margin">
      <p class="title">INTUITIVE RIDING EXPERIENCE</p>
      <h2>Move at your<br><span>rhythm</span>.</h2>
      <p>Increase the range of your bike with the economic mode.</p>
      <div class="ecomode-container">
        <div class="ecomode">
          <%= image_tag('App/ecomode-ON@2x.png', class: "eco") %>
          <p class="ecomode">Economic mode&nbsp;<span>[30 km/h - 65 km]</span></p>
        </div>
        <div class="ecomode">
          <%= image_tag('App/ecomode-OFF@2x.png', class: "eco") %>
          <p class="ecomode">Regular mode&nbsp;<span>[45 km/h - 50 km]</span></p>
        </div>
      </div>
    </div>
    <%= image_tag('Yoda/Mobile/Yoda-speed-mobile@2x.png', class: "yoda-main-bike") %>
  </div>

  <div class="page-mobile-bike-container white-bg">
    <div class="text-content page-margin">
      <p class="title">SOFT AND COMFORTABLE</p>
      <h2>A <span>robust</span><br>suspension.</h2>
      <p>When your comfort meets no maintenance.</p>
    </div>
    <%= image_tag('Yoda/Mobile/Rubber-suspensions@2x.png', class: "yoda-main-bike") %>
  </div>

  <div class="page-mobile-bike-container white-bg">
    <div class="text-content page-margin">
      <p class="title">HIGH STANDARDS</p>
      <h4>It's in the <span>details</span>.</h4>
    </div>
    <div class="details-cards-wrapper">
      <div class="details-card details-1">
        <p>Led headlight</p>
        <div class="little-border"></div>
      </div>
      <div class="details-card details-2">
        <p>Hydraulic brakes</p>
        <div class="little-border"></div>
      </div>
      <div class="details-card details-3">
        <p>Charge your phone</p>
        <div class="little-border"></div>
      </div>
      <div class="details-card details-4">
        <p>Integrated indicators</p>
        <div class="little-border"></div>
      </div>
      <div class="details-card details-5">
        <p>Street legal</p>
        <div class="little-border"></div>
      </div>
    </div>
  </div>

  <div class="page-mobile-bike-container white-bg">
    <div class="text-content page-margin">
      <h3>Technical specifications</h3>
      <div class="specs">
        <p class="spec-title">Maximum speed</p>
        <p class="spec-data">45 km/h [Regular mode] <span>OR</span><br>30 km/h [Economic mode]</p>
      </div>
      <div class="specs">
        <p class="spec-title">Battery range</p>
        <p class="spec-data">50 km [Regular mode] <span>OR</span><br>65 km [Economic mode]</p>
      </div>
      <div class="specs">
        <p class="spec-title">Removable battery</p>
        <p class="spec-data">Lithium-ion 24 Ah, 52 V, 8 kg</p>
      </div>
      <div class="specs">
        <p class="spec-title">Charging time</p>
        <p class="spec-data">100% recharged in 4 hours</p>
      </div>
      <div class="specs">
        <p class="spec-title">Street legal</p>
        <p class="spec-data">Car license (B) <span>OR</span><br>moped license (AM, A3)</p>
      </div>
      <div class="specs">
        <p class="spec-title">Motor</p>
        <p class="spec-data">Custom motor 2 kW</p>
      </div>
      <div class="specs">
        <p class="spec-title">Weight</p>
        <p class="spec-data">29.1 kg: the lightest motorcycle<br>on the market</p>
      </div>
      <div class="specs">
        <p class="spec-title">Connectivity</p>
        <p class="spec-data">Bluetooth Low Energy, GPS</p>
      </div>
      <div class="specs">
        <p class="spec-title">Frame size</p>
        <p class="spec-data">Fits people between<br>155 to 200 cm tall </p>
      </div>
      <div class="specs">
        <p class="spec-title">Warranty</p>
        <p class="spec-data">2 years</p>
      </div>
      <div class="specs">
        <p class="spec-title">Price</p>
        <p class="spec-data">2,990€</p>
      </div>
    </div>
  </div>

  <%= render "shared/footer-mobile" %>
</div>
<div class="footer-mobile-height"></div>











<script>
  $(document).ready(function() {
      $(window).scroll(function() {
          var height = $('.page-mobile-bike-container').height();
          var scrollTop = $(window).scrollTop();

          if (scrollTop >= height - height*0.96) {
            $('.nav-mobile-container').addClass('solid-mobile-black-nav');
            $('.nav-mobile-container').removeClass('solid-mobile-nav');
          } else {
            $('.nav-mobile-container').removeClass('solid-mobile-black-nav');
            $('.nav-mobile-container').removeClass('solid-mobile-nav');
          }
      });
  });
</script>
