<%= render "shared/navbar-white" %>
<div class="bike-main-container">

  <div class="page-1-bike-container">
    <div class="page-1-bike-content">
      <div class="text-content">
        <h1>Simplicity is a <span>lifestyle</span>.</h1>
        <p>It's like riding a bike, you never forget.</p>
      </div>
    </div>
  </div>

  <div class="page-2-bike-container">
    <div class="page-2-bike-content">
      <p class="title">THIN AND LIGHT</p>
      <div class="text-container">
        <div class="text-content">
          <h2>Navigate the<br><span>urban</span> jungle.</h2>
          <p>Forget about traffic jams, wake up later<br>and ride safe.</p>
        </div>
      </div>
    </div>
  </div>

   <div class="page-3-bike-container">
    <div class="page-3-bike-content">
      <div class="text-container">
        <div class="text-content">
          <p class="title">POWERFUL AND CARRIABLE</p>
          <h2>A removable<br><span>battery</span>.</h2>
          <p>Charge your battery anywhere.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-4-bike-container">
    <div class="page-4-bike-content">
      <div class="text-container">
        <div class="text-content">
          <p class="title">INTUITIVE RIDING EXPERIENCE</p>
          <h2>Move at your<br><span>rhythm</span>.</h2>
          <p>Increase the range of your bike with the<br>economic mode.</p>
          <div class="ecomode-container">
            <div class="ecomode-ON">
              <%= image_tag('App/ecomode-ON@2x.png', class: "ecomode") %>
              <p>Economic mode <span>[30 km/h - 65 km]</span></p>
            </div>
            <div class="ecomode-OFF">
              <%= image_tag('App/ecomode-OFF@2x.png', class: "ecomode") %>
              <p>Regular mode <span>[45 km/h - 50 km]</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-5-bike-container">
    <div class="page-5-bike-content">
      <div class="text-container">
        <div class="text-content">
          <p class="title">SOFT AND COMFORTABLE</p>
          <h2>A <span>robust</span><br>suspension.</h2>
          <p>When your comfort meets<br>no maintenance.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-details-bike-container">
    <div class="page-details-bike-content">
      <div class="vertical-grid">
        <div class="cube-container cube-top-left">
          <div class="text-content">
            <p class="title">HIGH STANDARDS</p>
            <h2>It's in the <span>details</span>.</h2>
          </div>
        </div>
        <div class="cube-container">
          <div class="card-image middle-left bg-color-grey">
            <p>Hydraulic brakes</p>
            <div class="little-border"></div>
          </div>
        </div>
        <div class="cube-container">
          <div class="card-image bottom-left bg-color-white">
            <p>Integrated indicators</p>
            <div class="little-border"></div>
          </div>
        </div>
      </div>
      <div class="vertical-grid">
        <div class="cube-container">
          <div class="card-image top-right bg-color-grey">
            <p>Led headlight</p>
            <div class="little-border"></div>
          </div>
        </div>
        <div class="cube-container">
          <div class="card-image middle-right bg-color-white">
            <p>Charge your phone</p>
            <div class="little-border"></div>
          </div>
        </div>
        <div class="cube-container">
          <div class="card-image bottom-right bg-color-grey">
            <p>Street legal</p>
            <div class="little-border"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="technical-specs-container">
    <div class="technical-specs-content">
      <h2>Technical Specifications</h2>
      <table>
        <tr>
          <th>Maximum speed</th>
          <td>45 km/h [Regular mode] <span>OR</span> 30 km/h [Economic mode]</td>
        </tr>
        <tr>
          <th>Battery range</th>
          <td>50 km [Regular mode] <span>OR</span> 65 km [Economic mode]</td>
        </tr>
        <tr>
          <th>Removable battery</th>
          <td>Lithium-ion 24 Ah, 52 V, 8 kg</td>
        </tr>
        <tr>
          <th>Charging time</th>
          <td>100% recharged in 4 hours</td>
        </tr>
        <tr>
          <th>Street legal</th>
          <td>Car license (B) or moped license (AM, A3)</td>
        </tr>
        <tr>
          <th>Motor</th>
          <td>Custom motor 2 kW</td>
        </tr>
        <tr>
          <th>Weight</th>
          <td>29.1 kg: the lightest motorcycle on the market</td>
        </tr>
        <tr>
          <th>Connectivity</th>
          <td>Bluetooth Low Energy, GPS</td>
        </tr>
        <tr>
          <th>Frame size</th>
          <td>Fits people between 155 to 200 cm tall</td>
        </tr>
        <tr>
          <th>Warranty</th>
          <td>2 years</td>
        </tr>
        <tr>
          <th>Price</th>
          <td><p class="pre-order-price">In pre-order: <span>2.490€</span></p><p class="full-price">Full-price: <span>2.990€</span></p></td>
        </tr>
      </table>
    </div>
  </div>


  <%= render "shared/footer" %>
</div>


<script>
  $(document).ready(function() {
      $(window).scroll(function() {
          var height = $('.page-1-bike-container').height();
          var scrollTop = $(window).scrollTop();

          if (scrollTop >= height - height*0.96) {
              $('.nav-white-container').addClass('solid-nav-greyblack');
          } else {
              $('.nav-white-container').removeClass('solid-nav-greyblack');
          }
      });
  });
</script>


<%= render "shared/fb-messenger" %>













