<div class="cart-wrapper">

  <nav class="nav-checkout-container">
    <div class="nav-checkout-content">
      <%= link_to root_path ,class: "link-back" do%>
        <i class="fas fa-arrow-circle-left"></i>
      <% end %>
      <div class="bike-img">
        <%= image_tag('Yoda/Yoda-checkout@2x.png', class: "yoda-checkout") %>
      </div>
      <div class="text">
        <p class="price">1 Yoda - 2.990€</p>
        <p>You will be the first to ride a Yoda.<br> It will be delivered <i class="fas fa-shipping-fast"></i> in <span>spring 2020</span>.</p>
      </div>
      <div class="checkout-btn">
        <a href="https://yodacity.myshopify.com/cart/30774587129955:1?channel=buy_button">Continue to checkout</a>
      </div>
    </div>
  </nav>

  <div class="main-wrapper">

    <div class="tabs-wrapper">
      <div class="tabs-btn">
        <button class="w3-bar-item w3-button" onclick="openCheckTab('story')">STORY</button>
        <button class="w3-bar-item w3-button" onclick="openCheckTab('faq')">FAQ</button>
        <button class="w3-bar-item w3-button" onclick="openCheckTab('delivery')">DELIVERY</button>
        <button class="w3-bar-item w3-button" onclick="openCheckTab('warranty')">WARRANTY</button>
      </div>

      <div id="story" class="check-tab">
        <h2>Discover our story</h2>
        <p>YodaCity was founded by Armand and Quentin in April 2019, with the goal of bringing a fun and efficient way for people to move in the city.<br>
        After conceptualizing and designing what a superior bike would look like, they turned the idea into a prototype in July 2019, in a garage in Uccle, Brussels, Belgium.<br>
        They showcased the prototype at the Bike Brussels exhibition in September 2019. The test-rider’s feedback was unanimous, most where saying: “the best thing I’ve ridden here”.<br>They are now focused on production, securing suppliers for the final product. The product will be assembled in Belgium. Help us make good things happen. Pre-order your Yoda today.
        <br><br>
        Armand & Quentin</p>
        <div class="img-container">
          <%= image_tag('Checkout/Progress-bar@2x.png', class: "bar-progress") %>
        </div>
      </div>

      <div id="faq" class="check-tab" style="display:none">
        <h2>Frequently Asked Questions</h2>

        <h3>The Yoda riding experience</h3>
        <div class="faq-question">
          <h5>Is this an e-bike, a moped, or what?</h5>
          <p>The Yoda bike was designed to provide the riding experience of a bike (everyone knows how to ride a bicycle), with the advantages of a motorcycle (you can go up to 45 km/h without sweating).</p>
        </div>
        <div class="faq-question">
          <h5>Do I need a license/license plate/insurance to drive a Yoda?</h5>
          <p>You may need a license, license plate, and insurance depending on the laws of the country in which you ride. For instance in Belgium, you will need:</p>
          <ul>
            <li>Either a type B license (regular car license), or an A3 or AM motorcycle license (which can be obtained if you are 16 or above).</li>
            <li>To apply for a license plate for class B mopeds. These begin with the letters “SB”.</li>
            <li>A liability insurance policy (”Burgerlijke Aansprakelijkheid”/“Responsabilité Civile”).</li>
          </ul>
          <p>We will provide you with detailed step-by-step guidance when delivering your Yoda to you.</p>
        </div>
        <div class="faq-question">
          <h5>Do I need a helmet?</h5>
          <p>Yes, most countries have laws requiring to wear helmets. For instance, in Belgium, you’ll need to wear a moped/motorcycle E-marked helmet.</p>
        </div>
        <div class="faq-question">
          <h5>Can I drive a Yoda on bike lanes?</h5>
          <p>It depends on the laws of the country in which you ride. For instance in Belgium, you can in most cases use bike lanes marked by this sign</p>
          <div class="img-bike-lanes-container">
            <%= image_tag('Checkout/Bike-lanes-sign.png', class: "bike-lanes") %>
          </div>
          <p>More information is available<a href="https://www.permisdeconduire-online.be/theorie/theorie-permis-am/ou-devez-vous-rouler-avec-votre-motoclyclette"> here (français)</a> and <a href="https://www.gratisrijbewijsonline.be/theorie/leerstof-rijbewijs-am/fietser-fietspad-oversteekplaats"> here (néerlandais)</a>.</p>
        </div>
        <div class="faq-question">
          <h5>Can I put a bike rack on a Yoda?</h5>
          <p>No. Our betas testers typically carry things around with a backpack. Unlike when riding a bike, you won’t sweat so it’s not uncomfortable.</p>
        </div>
        <div class="faq-question">
          <h5>What if I don’t have a smartphone, or my phone runs out of battery?</h5>
          <p>We will provide you with a smartcard to allow you to unlock your Yoda without your phone.</p>
        </div>

        <h3>Pre-order</h3>
        <div class="faq-question">
          <h5>When will my Yoda be delivered to me?</h5>
          <p>We’re doing everything in our power for this date to be as soon as possible. We are targeting Spring 2020. Bear in mind however that some things are out of our hands. These include our suppliers timelines and the timeline of the administration providing the homologation. We will keep you informed of any significant delay.
          </p>
        </div>
        <div class="faq-question">
          <h5>What is included in the price?</h5>
          <p>The price of a fully-functional street-legal Yoda is 2990 EUR and includes VAT. A charger costs 100 EUR VAT included. The price does not include delivery costs, should you wish to have us bring your Yoda to you instead of picking it up in Uccle, Belgium.</p>
        </div>
        <div class="faq-question">
          <h5>Why should I pre-order?</h5>
          <p>A pre-order guarantees you that you’ll receive one of the Yodas we manufacture in the next batch, which will be limited to 200 Yodas. We do not guarantee the current price and availability of Yodas in the future.</p>
        </div>
        <div class="faq-question">
          <h5>What if I change my mind and do not want a Yoda anymore?</h5>
          <p>Our terms and conditions of pre-order apply. As provided by consumer protection laws, you have up to 14 days after we deliver to you to change your mind and return us the Yoda to receive a full refund.</p>
        </div>
        <div class="faq-question">
          <h5>Can I order one if I don’t live in Belgium?</h5>
          <p>At the moment, pre-orders can only be made for delivery in Belgium. Contact us to be updated about availability in your country.</p>
        </div>


      </div>

      <div id="delivery" class="check-tab warranty" style="display:none">
        <h2>Delivery</h2>
        <p>When your Yoda will be ready to ship, in spring 2020, we will offer you two options. You will be able to pick up your Yoda at our main office in Uccle (Brussels, Belgium) for FREE. Or you can choose to have your Yoda delivered to you at an address in Belgium, for a fee (it will be about 50 EUR).</p>
        <br>
        <p>Once your Yoda is ready, we will get in touch with you to arrange for a delivery date and time. If you choose to receive your Yoda at your place, you will get a box containing the Yoda, instructions, and tools to finalize assembly. Assembly will take 5 minutes and require no skills.</p>

      </div>

      <div id="warranty" class="check-tab warranty" style="display:none">
        <h2>Warranty</h2>
        <p>As a consumer, you are legally entitled to a <b>warranty of two years</b>. The two years start counting once we deliver you the product.</p>
        <p>YodaCity warrants that its bikes are sold free of defects in workmanship and materials. The warranty applies only to the original owner and is not transferable. The warranty does not apply to :</p>
        <ul>
          <li>Damage caused by normal wear and tear. For instance, brake pads will eventually wear out and need to be replaced after some time.</li>
          <li>Damage caused by accident, abuse, carelessness, neglect, or use of the product other than for its intended use.</li>
          <li>Damage caused by improper mounting of components, replacement or mounting of parts other than original YodaCity parts and products.</li>
          <li>Attempt of reparation or modification , or mounting of accessories non-approved by YodaCity in the user manual, or in writing by YodaCity.</li>
        </ul>
        <p>Claims can be made by contacting us within two months of noticing the defect. Proof of purchase is required. We recommend that you keep the box if we shipped the bike to you.</p><br>
        <p>During the warranty period, we will repair the product’s defect, or replace it free of charge. If repair or replacement is not possible, or would result in serious inconvenience to you, you have the right to request a price reduction or that the sales contract be cancelled.</p><br>
        <p>For damages not covered by the warranty, please contact us to quote the repair of your bike.</p>

      </div>
    </div>

    <div class="referal-wrapper">
      <div class="refer-friends">
        <div class="text-part-referal">
          <h2>DON'T LEAVE YOUR <br>FRIENDS BEHIND</h2>
          <h3><span>INVITE</span> FRIENDS & GET REWARDS</h3>
          <% twitter_message = "#Mobility is evolving. Excited for YodaCity to launch." %>
          <div class="social-links">
            <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>&title=YodaCity" class="fb" target="_blank"><i class="fab fa-facebook" style="color: #001C7A;"></i></a>
            <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"><i class="fab fa-twitter-square" style="color: #001C7A;"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>



</div>
<%= render "shared/footer" %>
<script>
  function openCheckTab(tabName) {
    var i;
    var x = document.getElementsByClassName("check-tab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    document.getElementById(tabName).style.display = "block";
  }


  $(window).scroll(() => {
    // Distance from top of document to top of footer.
    topOfFooter = $('.footer-container').position().top;
    // Distance user has scrolled from top, adjusted to take in height of sidebar (570 pixels inc. padding).
    scrollDistanceFromTopOfDoc = $(document).scrollTop() + $('.footer-container').height();
    // Difference between the two.
    scrollDistanceFromTopOfFooter = scrollDistanceFromTopOfDoc - topOfFooter;

    // If user has scrolled further than footer,
    // pull sidebar up using a negative margin.
    if (scrollDistanceFromTopOfDoc > topOfFooter) {
      $('.refer-friends').css('margin-top',  0 - scrollDistanceFromTopOfFooter);
    } else  {
      $('.refer-friends').css('margin-top', 0);
    }
  });
</script>



























