<%= render "shared/navbar-mobile" %>
<div class="infos-page-mobile-container">
  <div class="infos-page-mobile-content">
    <h1>Frequently<br>Asked<br>Questions</h1>
    <h2>The Yoda riding experience</h2>
    <div class="faq-question">
      <h5>Is this an e-bike, a moped, or what?</h5>
      <p>The Yoda bike was designed to provide the riding experience of a bike (everyone knows how to ride a bicycle), with the advantages of a motorcycle (you can go up to 45 km/h without sweating).</p>
    </div>
    <div class="faq-question">
      <h5>Do I need a license/license plate/insurance to drive a Yoda?</h5>
      <p>When renting a Yoda from us (Belgium,), you need either a type B license (regular car license), or an A3 or AM motorcycle license. You are insured for rides made through our application.</p>
      <p>To use your own Yoda, you may need a license, license plate, and insurance depending on the laws of the country in which you ride. For instance in Belgium, you will need:</p>
      <ul>
        <li>Either a type B license (regular car license), or an A3 or AM motorcycle license (which can be obtained if you are 16 or above).</li>
        <li>To apply for a license plate for class B mopeds. These begin with the letters “SB”.</li>
        <li>A liability insurance policy (”Burgerlijke Aansprakelijkheid”/“Responsabilité Civile”).</li>
      </ul>
      <p>We will provide you with detailed step-by-step guidance when delivering your Yoda to you.</p>
    </div>
    <div class="faq-question">
      <h5>Do I need a helmet?</h5>
      <p>Yes, most countries have laws requiring to wear helmets. For instance, in Belgium, you’ll need to wear a moped/motorcycle E-marked helmet.</p>
    </div>
    <div class="faq-question">
      <h5>Can I drive a Yoda on bike lanes?</h5>
      <p>It depends on the laws of the country in which you ride. For instance in Belgium, YES you can in most cases use bike lanes marked by this sign</p>
      <div class="img-bike-lanes-container">
        <%= image_tag('Bike-lanes-sign.png', class: "bike-lanes") %>
      </div>
      <p>More information is available<a href="https://www.permisdeconduire-online.be/theorie/theorie-permis-am/ou-devez-vous-rouler-avec-votre-motoclyclette"> here (français)</a> and <a href="https://www.gratisrijbewijsonline.be/theorie/leerstof-rijbewijs-am/fietser-fietspad-oversteekplaats"> here (Nederlands)</a>.</p>
    </div>
    <div class="faq-question">
      <h5>Can I use a bike rack on a Yoda?</h5>
      <p>No. Our betas testers typically carry things around with a backpack. Unlike when riding a bike, you won’t sweat so it’s not uncomfortable.</p>
    </div>
    <div class="faq-question">
      <h5>What if I don’t have a smartphone, or my phone runs out of battery?</h5>
      <p>At your request, we can provide you with a smartcard to allow you to unlock your Yoda without your phone, or rent out Yodas in free-floating.</p>
    </div>

    <h2>Pre-order</h2>
    <div class="faq-question">
      <h5>When will my Yoda be delivered to me?</h5>
      <p>We’re doing everything in our power for this date to be as soon as possible. We are targeting June 2020. Bear in mind however that some things are out of our hands. These include our suppliers timelines and the timeline of the administration providing the homologation. We will keep you informed of any significant delay.
      </p>
    </div>
    <div class="faq-question">
      <h5>What is included in the price?</h5>
      <p>The price of a fully-functional street-legal Yoda is 2490 EUR and includes VAT. A charger costs 100 EUR VAT included. The price does not include delivery. You will have the option to pick up your Yoda at our main office in Uccle (Brussels, Belgium) free of charge, or have the Yoda delivered to you at an address in Belgium, for a fee (estimated as 50 EUR).</p>
    </div>
    <div class="faq-question">
      <h5>Will I have to assemble my Yoda?</h5>
      <p>If you choose to receive your Yoda, you will get a box containing the Yoda, instructions, and tools to finalize assembly. Assembly will take 5 minutes and require no skills.</p>
    </div>
    <div class="faq-question">
      <h5>Why should I reserve a Yoda today?</h5>
      <p>Your deposit guarantees that you’ll be able to buy one of the Yodas we manufacture in the next batch, which will be limited in size. The next batch of Yodas will be 2990 EUR, and scheduled for end of 2020.</p>
    </div>
    <div class="faq-question">
      <h5>What if I change my mind and do not want a Yoda anymore?</h5>
      <p>Your deposit is 100% refundable, no questions asked. Once your Yoda is delivered to you, you have up to 14 days to change your mind, and return your Yoda to receive a full refund.</p>
    </div>
    <div class="faq-question">
      <h5>Can I reserve one if I don’t live in Belgium?</h5>
      <p><%= link_to page_contact_path do %>Please contact us.<% end %> </p>
    <div class="faq-question">
      <h5>Is there a warranty?</h5>
      <p><%= link_to page_warranty_path do %>Check out the warranty terms.<% end %> </p>
    </div>
  </div>
</div>
<%= render "shared/footer-mobile" %>
<div class="footer-mobile-height"></div>


<script>
  $(document).ready(function() {
      $(window).scroll(function() {
          var height = $('.page-1-mobile-content').height();
          var scrollTop = $(window).scrollTop();
          if (scrollTop >= height - height*0.96) {
            $('.nav-mobile-container').addClass('solid-mobile-nav');
            $('.nav-mobile-container').removeClass('solid-mobile-black-nav');
          } else {
            $('.nav-mobile-container').removeClass('solid-mobile-nav');
            $('.nav-mobile-container').removeClass('solid-mobile-black-nav');
          }
      });
  });
</script>
<%= render "shared/fb-messenger" %>
