<%= render "shared/navbar" %>
<div class="navbar-height"></div>
<div class="main-container">
  <div class="page-container">
    <div class="page-1-content">
      <div class="text-container">
        <div class="text-content">
          <h1><span>Lead</span>.<br>Let others follow<span>.</span></h1>
          <h2>You'll zip through traffic like never before up to 45km/h.</h2>
          <% link_to root_path do %>
            <p>Discover the bike</p>
            <i class="fas fa-chevron-right"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="media-container">
    <div class="media-content">
      <div class="logo-media">
        <%= image_tag('Medias/bruzz@2x.png', class: "bruzz") %>
        <%= image_tag('Medias/HLN@2x.png', class: "hln") %>
        <%= image_tag('Medias/new-mobility@2x.png', class: "newmobility") %>
        <%= image_tag('Medias/DH@2x.png', class: "dh") %>
      </div>
    </div>
  </div>

  <div class="page-container">
    <div class="page-2-content">
      <div class="left-container">
        <div class="text-container">
          <div class="text-content">
            <h3>Light weight<br>means<br><span> maniability</span>.</h3>
            <p>No pedals means you won't break a sweat.</p>
            <% link_to root_path do %>
              <p class="btn-to-other-page">Discover the bike</p>
              <i class="fas fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="right-container">
        <div class="right-content">
          <%= image_tag('Yoda/frontbike-crop@2x.png', class: "front-fork-yoda") %>
        </div>
      </div>
    </div>
  </div>

  <div class="page-container">
    <div class="page-3-content">
      <div class="left-container">
        <div class="left-content">
          <%= image_tag('Yoda/cable@2x.png', class: "handle-smartphone-yoda") %>
        </div>
      </div>
      <div class="right-container">
        <div class="text-container">
          <div class="text-content">
            <h3>More than an <span>e-motorbike</span>.</h3>
            <p>With live dashboard, navigation, GPS tracking<br>and ride stats, our app makes your ride more<br>than just a ride. It becomes a whole new<br>experience.</p>
            <%= link_to root_path do %>
              <p class="btn-to-other-page">Discover the app</p>
              <i class="fas fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-container">
    <div class="page-4-content">
      <div class="left-container">
        <div class="left-content">
          <div class="text-container">
            <div class="text-content">
              <h3>You’ll never <span>ride</span> alone.</h3>
              <p>Our support team is with you every meters of the way..</p>
              <%= link_to root_path do %>
                <p class="btn-to-other-page">Learn more</p>
                <i class="fas fa-chevron-right"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="right-container">
        <div class="right-content">
          <%= image_tag('', class: "handle-smartphone-yoda") %>
        </div>
      </div>
    </div>
  </div>

  <div class="page-container">
    <div class="review-container">
      <div class="review-content-top"></div>
      <div class="review-content-middle"></div>
      <div class="review-content-footer"></div>
    </div>
  </div>

  <%= render "shared/footer" %>
</div>





<script>
  $(document).ready(function() {
      $(window).scroll(function() {
          var height = $('.page-container').height();
          var scrollTop = $(window).scrollTop();

          if (scrollTop >= height - height*0.96) {
              $('.nav-container').addClass('solid-nav');
          } else {
              $('.nav-container').removeClass('solid-nav');
          }
      });
  });
</script>



















