<%= render "shared/navbar" %>
<div class="navbar-height"></div>
<div class="main-container">
  <div class="page-container">
    <div class="page-1-content">
      <div class="text-container">
        <div class="text-content">
          <h1><span>Lead</span>.<br>Let others follow<span>.</span></h1>
          <!-- <h1>You need no<br>skills to <span>be on time</span>.</h1> -->
          <h2>You'll zip through traffic like never before up to 45km/h.</h2>
          <% link_to root_path do %>
            <p>Discover the bike</p>
            <i class="fas fa-chevron-right"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="media-container">
    <div class="media-content">
      <div class="logo-media">
        <%= image_tag('Medias/bruzz@2x.png', class: "bruzz") %>
        <%= image_tag('Medias/HLN@2x.png', class: "hln") %>
        <%= image_tag('Medias/new-mobility@2x.png', class: "newmobility") %>
        <%= image_tag('Medias/DH@2x.png', class: "dh") %>
      </div>
    </div>
  </div>

  <div class="page-container">
    <div class="page-2-content">
      <div class="left-container">
        <div class="text-container">
          <div class="text-content">
            <h3>Light weight<br>means<br><span> maniability</span>.</h3>
            <p>No pedals. You won't break a sweat again.</p>
            <% link_to root_path do %>
              <p class="btn-to-other-page">Discover the bike</p>
              <i class="fas fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="right-container">
        <div class="right-content">
          <%= image_tag('Yoda/Zoom-front-wheel@2x.png', class: "front-fork-yoda") %>
        </div>
      </div>
    </div>
  </div>

  <div class="page-container">
    <div class="page-3-content">
      <div class="left-container">
        <div class="left-content">
          <%= image_tag('Yoda/handle-smartphone-cable@2x.png', class: "handle-smartphone-yoda") %>
        </div>
      </div>
      <div class="right-container">
        <div class="text-container">
          <div class="text-content">
            <h3>More than an<br><span>e-motorbike</span>.</h3>
            <p>The Yoda's cockpit seamlessly integrates<br>with your phone. Navigation becomes<br>easy peasy.</p>
            <% link_to root_path do %>
              <p class="btn-to-other-page">Discover the app</p>
              <i class="fas fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-container">
    <div class="page-4-content">
      <div class="left-container">
        <div class="text-container">
          <div class="text-content">
            <h3><span>Support</span> before<br>you need it.</h3>
            <p>Our support team is with you. Always.</p>
            <% link_to root_path do %>
              <p class="btn-to-other-page">Learn more</p>
              <i class="fas fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="right-container">
        <div class="right-content">
          <%= image_tag('App/Notification@2x.png', class: "smartphone-yoda") %>
        </div>
      </div>
    </div>
  </div>

  <div class="page-container">
    <div class="review-main-container">
      <div class="review-main-content">
        <div class="review-main-content-top">
          <p>#NOFILTER</p>
          <h3>They <span>saw</span> it.&nbsp;&nbsp; They <span>rode</span> it.&nbsp;&nbsp; They <span>loved</span> it.</h3>
          <p id="community">Find out what the Yoda community thinks.</p>
        </div>
        <div class="review-main-content-middle">
          <div class="cards-container">

            <div class="card">
             <div class="card-info">
               <p class="name">Alexis</p>
               <p class="location">Brussels, Belgium</p>
             </div>
             <div class="comment">
               <p>I ride on motorcycles a lot, but <br> a Yoda requires less skills<br>+ it's really fun.</p>
             </div>
           </div>

           <div class="card">
             <div class="card-info">
               <p class="name">Benjamin</p>
               <p class="location">Brussels, Belgium</p>
             </div>
             <div class="comment">
               <p>I now wish my e-Mountain Bike <br>could go faster. The design is nice too.</p>
             </div>
           </div>

           <div class="card">
             <div class="card-info">
               <p class="name">Jessy</p>
               <p class="location">Palo Alto, Californie</p>
             </div>
             <div class="comment">
               <p>That bike is beautifull !!!</p>
             </div>
           </div>

           <div class="card">
             <div class="card-info">
               <p class="name">Leaticia</p>
               <p class="location">Brussels, Belgium</p>
             </div>
             <div class="comment">
               <p>The riding experience of a bicycle<br>is so enjoyable, because it requires no<br>skills to ride.</p>
             </div>
           </div>

          </div>
        </div>
        <div class="review-content-footer">
          <i class="fas fa-circle"></i>
          <i class="fas fa-circle"></i>
          <%link_to root_path do %>
            <p class="btn-to-other-page">See all the reviews</p>
            <i class="fas fa-chevron-right"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= render "shared/footer" %>
</div>


<script>
  $(document).ready(function() {
      $(window).scroll(function() {
          var height = $('.page-1-content').height();
          var scrollTop = $(window).scrollTop();

          if (scrollTop >= height - height*0.96) {
              $('.nav-container').addClass('solid-nav');
          } else {
              $('.nav-container').removeClass('solid-nav');
          }
      });
  });
</script>



















