<%= render "shared/navbar" %>
<div class="navbar-height"></div>
<div class="main-container">
  <div class="page-container">
    <div class="page-1-content">
      <div class="text-container">
        <div class="text-content">
          <!-- <h1>Move with <span>fun</span>.</h1> -->
          <h1>I'm a <span>Yoda</span>.</h1>
          <div class="text">
            <!-- <h2>You'll zip through traffic like never before up to 45 km/h.</h2> -->
            <h2></h2>
            <%= link_to bike_path do %>
              <p>Discover the bike</p>
              <i class="fas fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="media-container">
    <div class="media-content">
      <div class="logo-media">
        <%= image_tag('Medias/bruzz@2x.png', class: "bruzz") %>
        <%= image_tag('Medias/HLN@2x.png', class: "hln") %>
        <%= image_tag('Medias/new-mobility@2x.png', class: "newmobility") %>
        <%= image_tag('Medias/DH@2x.png', class: "dh") %>
      </div>
    </div>
  </div>

  <div class="page-container">
    <div class="page-2-content">
      <div class="left-container">
        <div class="text-container">
          <div class="text-content">
            <h3>Light weight<br>means<br><span> maniability</span>.</h3>
            <p>No pedals. You won't break a sweat again.</p>
            <%= link_to bike_path do %>
              <p class="btn-to-other-page">Discover the bike</p>
              <i class="fas fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="right-container">
        <div class="right-content"></div>
      </div>
    </div>
  </div>

  <div class="page-container">
    <div class="page-3-content">
      <div class="left-container">
        <div class="left-content"></div>
      </div>
      <div class="right-container">
        <div class="text-container">
          <div class="text-content">
            <h3>More than an<br><span>e-motorbike</span>.</h3>
            <p>The Yoda's cockpit seamlessly integrates<br>with your phone. Navigation becomes<br>easy peasy. The anti-theft system alert you<br>directly.</p>
            <%= link_to app_path do %>
              <p class="btn-to-other-page">Discover the app</p>
              <i class="fas fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-container">
    <div class="page-4-content">
      <div class="left-container">
        <div class="text-container">
          <div class="text-content">
            <h3><span>Support</span> before<br>you need it.</h3>
            <p>Our support team is with you. Always.</p>
            <%= link_to support_path do %>
              <p class="btn-to-other-page">Learn more</p>
              <i class="fas fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="right-container"></div>
    </div>
  </div>

  <div class="page-container">
    <div class="review-main-container">
      <div class="review-main-content">
        <div class="review-main-content-top">
          <p>#NOFILTER</p>
          <h3>They <span>saw</span> it.&nbsp;&nbsp; They <span>rode</span> it.&nbsp;&nbsp; They <span>loved</span> it.</h3>
          <p id="community">Find out what the Yoda community thinks.</p>
        </div>
        <div class="review-main-content-middle">
          <div class="cards-container">

            <% @reviews.each do |review| %>

              <div class="card">
               <div class="card-nav-info">
                <div class="left">
                  <p class="name"><%= review.name %></p>
                  <p class="location"><%= review.city %></p>
                </div>
                <div class="right">
                  <div class="rating">
                    <% review.rating.times do  %>
                      <i class="green fas fa-star"></i>
                    <% end %>
                    <% review.blank_stars.times do %>
                      <i class="grey fas fa-star"></i>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="comment">
                <p><%= review.comment %></p>
              </div>
             </div>

            <% end %>

          </div>
        </div>
        <div class="review-content-footer">
          <div class="circle">
            <i class="fas fa-circle"></i>
            <i class="fas fa-circle"></i>
          </div>
          <%=link_to reviews_path do %>
            <p class="btn-to-other-page">See all reviews</p>
            <i class="fas fa-chevron-right"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= render "shared/footer" %>
</div>


<script>
  $(document).ready(function() {
      $(window).scroll(function() {
          var height = $('.page-1-content').height();
          var scrollTop = $(window).scrollTop();

          if (scrollTop >= height - height*0.96) {
              $('.nav-container').addClass('solid-nav');
          } else {
              $('.nav-container').removeClass('solid-nav');
          }
      });
  });
</script>



















