<%= render "shared/navbar-mobile" %>

<div class="main-mobile-container">
  <div class="page-mobile-container">
    <div class="page-1-mobile-content">
      <%= image_tag('Yoda/Yoda-main-mobile@2x.png', class: "yoda-main") %>
      <div class="text-container">
        <div class="text-content">
          <h1>Anyone can<br>master a <span>Yoda</span>.</h1>
          <!-- <h1><span>Lead</span>.<br>Let others follow<span>.</span></h1> -->
          <!-- <h2>You'll zip through traffic like never before <br>up to 45 km/h.</h2> -->
          <h2>The simplicity of a bicycle combine with the assets of a motorcycle.</h2>
          <%=link_to bike_path do %>
            <p>Discover the bike</p>
            <i class="fas fa-chevron-right"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="media-mobile-container">
    <div class="media-mobile-content">
      <div class="logo-mobile-media">
        <%= image_tag('Medias/bruzz@2x.png', class: "bruzz") %>
        <%= image_tag('Medias/HLN@2x.png', class: "hln") %>
        <%= image_tag('Medias/new-mobility@2x.png', class: "newmobility") %>
        <%= image_tag('Medias/DH@2x.png', class: "dh") %>
      </div>
    </div>
  </div>

  <div class="page-mobile-container">
    <div class="page-2-mobile-content">
      <div class="text-container">
        <div class="text-content">
          <h3>Light weight means<br><span> maniability</span>.</h3>
          <p>No pedals. You won't break a sweat again.</p>
          <%= link_to bike_path do %>
            <p class="btn-to-other-page">Discover the bike</p>
            <i class="fas fa-chevron-right"></i>
          <% end %>
        </div>
      </div>
      <%= image_tag('Yoda/Zoom-front-wheel@2x.png', class: "front-fork-yoda") %>
    </div>
  </div>

  <div class="page-mobile-container">
    <div class="page-3-mobile-content">
      <div class="text-container">
        <div class="text-content">
          <h3>More than an<br><span>e-motorbike</span>.</h3>
          <p>The Yoda's cockpit seamlessly integrates with your phone. Navigation becomes easy peasy. The anti-theft system alert you directly.</p>
          <%= link_to app_path do %>
            <p class="btn-to-other-page">Discover the app</p>
            <i class="fas fa-chevron-right"></i>
          <% end %>
        </div>
      </div>
      <%= image_tag('Yoda/Handle-with-smartphone@2x.png', class: "handle-smartphone-yoda") %>
    </div>
  </div>

  <div class="page-mobile-container">
    <div class="page-4-mobile-content">
      <div class="text-container">
        <div class="text-content">
          <h3><span>Support</span> before<br>you need it.</h3>
          <p>Our support team is with you. Always.</p>
          <%= link_to support_path do %>
            <p class="btn-to-other-page">Learn more</p>
            <i class="fas fa-chevron-right"></i>
          <% end %>
        </div>
      </div>
      <%= image_tag('App/Notification-app@2x.png', class: "smartphone-yoda") %>
    </div>
  </div>

  <div class="page-mobile-container">
    <div class="page-review-mobile-content">
      <div class="review-content-top">
        <p>#NOFILTER</p>
        <h3>They <span>saw</span> it.<br>They <span>rode</span> it. They <span>loved</span> it.</h3>
        <p id="community">Find out what the Yoda community thinks.</p>
      </div>
      <div class="cards-wrapper">
        <% @reviews.each do |review| %>
          <div class="card">
            <div class="card-nav-info">
              <div class="left">
                <p class="name"><%= review.name %></p>
                <p class="location"><%= review.city %></p>
              </div>
              <div class="right">
                <div class="rating">
                  <% review.rating.times do  %>
                    <i class="green fas fa-star"></i>
                  <% end %>
                  <% review.blank_stars.times do %>
                    <i class="grey fas fa-star"></i>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="comment">
              <p><%= review.comment %></p>
            </div>
          </div>
        <% end %>
      </div>
      <%=link_to reviews_path do %>
        <p class="btn-to-other-page">See all reviews</p>
        <i class="fas fa-chevron-right"></i>
      <% end %>
    </div>
  </div>

  <%= render "shared/footer-mobile" %>
  <div class="footer-mobile-height"></div>
</div>





<script>
  $(document).ready(function() {
      $(window).scroll(function() {
          var height = $('.page-1-mobile-content').height();
          var scrollTop = $(window).scrollTop();

          if (scrollTop >= height - height*0.96) {
            $('.nav-mobile-container').addClass('solid-mobile-nav');
            $('.nav-mobile-container').removeClass('solid-mobile-black-nav');
          } else {
            $('.nav-mobile-container').removeClass('solid-mobile-nav');
            $('.nav-mobile-container').removeClass('solid-mobile-black-nav');
          }
      });
  });
</script>

