<%= render "shared/navbar-mobile" %>

<div class="support-main-mobile-container">
  <div class="page-support-mobile-container">
    <div class="text-content text-shadow-bg">
      <h1><span>At your service</span>.</h1>
      <p>We’ll offer you assistance before you<br>even realize you need it. And whatever<br>is going on, we’re ready to help.</p>
    </div>
    <%= image_tag('Yoda/Yoda-service-support-mobile@2x.png') %>
  </div>
  <div class="page-support-mobile-container">
    <div class="text-content padding-page">
      <p class="title">NOTIFICATION</p>
      <h1><span>We are here</span><br><span>for you.</span></h1>
      <p>We will proactively notify you when your Yoda needs maintenance, for example when your brake pads need replacing, or when to check your tire pressure.</p>
    </div>
    <%= image_tag('App/Iphone_X-notif-support-mobile@2x.png') %>
  </div>
  <div class="page-support-mobile-container">
    <div class="text-content padding-page">
      <p class="title">SOFTWARE UPDATES</p>
      <h1><span>Stay</span><br><span>up-to-date.</span></h1>
      <p>Performance upgrades such as an increased battery lifetime, and new features such as theft detection will be updated over-the-air in the future.</p>
    </div>
    <%= image_tag('App/Iphone_X-support-update-mobile-2@2x.png') %>
  </div>
  <%= render "shared/footer-mobile" %>
  <div class="footer-mobile-height"></div>
</div>












<script>
  $(document).ready(function() {
      $(window).scroll(function() {
          var height = $('.page-support-mobile-container').height();
          var scrollTop = $(window).scrollTop();

          if (scrollTop >= height - height*0.96) {
            $('.nav-mobile-container').addClass('solid-mobile-nav');
            $('.nav-mobile-container').removeClass('solid-mobile-black-nav');
          } else {
            $('.nav-mobile-container').removeClass('solid-mobile-nav');
            $('.nav-mobile-container').removeClass('solid-mobile-black-nav');
          }
      });
  });
</script>
