<!DOCTYPE html>
<html>
  <head>
    <title>Yoda City Bike &ndash; New generation of electric motorbike</title>
    <%= favicon_link_tag 'Logo/O-yoda.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="The simplicity of a bicycle, combined with the advantages of a motorcycle"/>
    <meta property="og:description" content="Mobility is evolving. Didn’t want to leave you all behind. Check out YodaCity here."/>
    <meta property="og:image" content="<%= asset_url("ogimage@2x.png") %>"/>
    <meta property="og:url" content="https://yoda-city.com"/>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/google_analytics' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= render "shared/fb-messenger" %>
  </body>


</html>
