<!DOCTYPE html>
<html>
  <head>
    <title>Yoda City Bike &ndash; New generation of electric motorbike</title>
    <%= favicon_link_tag 'Logo/O-yoda.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


        <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Own your city back" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://yoda-city.com" />
    <meta property="og:image" content="<%= asset_path("Facebook-og-image@2x.png") %>" />
    <meta property="og:description" content="Mobility is evolving. Didn’t want to leave you all behind. Check out YodaCity here." />
    <meta property="og:site_name" content="YodaCity" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="Own your city back">
    <meta name="twitter:description" content="Mobility is evolving. Didn’t want to leave you all behind. Check out YodaCity here">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= asset_path("ogimage@2x.png") %>">


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/google_analytics' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= render "shared/fb-messenger" %>
  </body>


</html>
