<!DOCTYPE html>
<html>
  <head>
    <title>Yoda City Bike &ndash; New generation of electric motorbike</title>
    <%= favicon_link_tag 'Logo/O-yoda.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/google_analytics' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>


</html>
